<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chúc mừng được tuyển dụng</title>
</head>
<body>
<p>Chào <b th:text="${name}"></b>,</p>
<p>Chúc mừng bạn đã được tuyển vào vị trí <b th:text="${jobTitle}"></b> tại công ty <b th:text="${companyName}"></b>!</p>
<p>Đây là một cơ hội tuyệt vời để bạn phát triển sự nghiệp và đóng góp cho công ty.</p>
<p>Bộ phận nhân sự sẽ liên hệ với bạn trong thời gian sớm nhất để hướng dẫn các bước tiếp theo.</p>
<p>Chúc bạn thành công trong công việc mới!</p>
<p>Trân trọng,<br/>JobHunter</p>
</body>
</html> 