<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kết quả phỏng vấn</title>
</head>
<body>
<p>Chào <b th:text="${name}"></b>,</p>
<p>Cảm ơn bạn đã dành thời gian tham gia phỏng vấn cho vị trí <b th:text="${jobTitle}"></b> tại công ty <b th:text="${companyName}"></b>.</p>
<p>Sau khi xem xét kỹ lưỡng, chúng tôi rất tiếc phải thông báo rằng chúng tôi đã quyết định không tiếp tục với đơn ứng tuyển của bạn cho vị trí này.</p>
<p>Chúng tôi đánh giá cao sự quan tâm của bạn đến công ty và mong rằng bạn sẽ tiếp tục theo dõi các cơ hội việc làm khác từ chúng tôi trong tương lai.</p>
<p>Chúc bạn thành công trong sự nghiệp!</p>
<p>Trân trọng,<br/>JobHunter</p>
</body>
</html> 